.version.perfil /* version checker */
{
	color: #00000D;
	background-color: #E12E29;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1046.506249999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -14px;
	padding-top: 20px;
	width: 0.01px;
}

#pu339
{
	width: 0.01px;
	margin-left: 44px;
}

#u339
{
	z-index: 9;
	width: 246px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u341-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 598px;
}

#u342-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 755px;
}

#u343-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 889px;
}

#u344-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 1045px;
}

#menuu345
{
	z-index: 27;
	width: 804px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 550px;
}

#u360
{
	width: 160px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u363
{
	width: 160px;
	height: 30px;
	position: relative;
}

#u346
{
	width: 159px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 162px;
}

#u349
{
	width: 159px;
	height: 30px;
	position: relative;
}

#u353
{
	width: 159px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 323px;
}

#u354
{
	width: 159px;
	height: 30px;
	position: relative;
}

#u367
{
	width: 159px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u370
{
	width: 159px;
	height: 30px;
	position: relative;
}

#u678
{
	width: 159px;
	min-height: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 645px;
}

#u681
{
	width: 159px;
	height: 30px;
	position: relative;
}

.ie #u363,.ie #u349,.ie #u354,.ie #u370,.ie #u681
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u520-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	margin-left: 121px;
	margin-top: 26px;
	position: relative;
}

#u521
{
	z-index: 51;
	width: 249px;
	height: 2px;
	background-color: #C1272D;
	margin-left: 40px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu506
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 37px;
}

#u506
{
	z-index: 38;
	width: 315px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u518-7
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 405px;
}

#u522-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	margin-left: 585px;
	margin-top: 137px;
	position: relative;
}

#pu523
{
	width: 0.01px;
	margin-left: 340px;
	margin-top: 22px;
}

#u523
{
	z-index: 56;
	width: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u523_img
{
	padding-right: 1px;
	padding-bottom: 9px;
}

#u529-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 44px;
}

#u544
{
	z-index: 72;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 434px;
}

#u544_img
{
	padding-right: 1px;
}

#u562-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 499px;
}

#pu536
{
	width: 0.01px;
	margin-left: 334px;
	margin-top: 21px;
}

#u536
{
	z-index: 62;
	width: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u542-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 57px;
}

#u550
{
	z-index: 74;
	width: 49px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 440px;
}

#u563-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 505px;
}

#pu543-4
{
	width: 0.01px;
	margin-left: 384px;
	margin-top: 39px;
}

#u543-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u556
{
	z-index: 76;
	width: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u564-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 455px;
}

#u504
{
	z-index: 2;
	min-height: 53px;
	padding-bottom: 15px;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	left: -100px;
}

#u505-6
{
	z-index: 3;
	width: 283px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 599px;
}

#u504-bw
{
	z-index: 2;
	min-height: 53px;
	margin-top: 27px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

