.version.portafolio /* version checker */
{
	color: #0000EC;
	background-color: #E68C07;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 634px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 6px;
}

#pu2501
{
	width: 0.01px;
	margin-left: 6px;
}

#u2501
{
	z-index: 2;
	width: 103px;
	margin-right: -10000px;
}

#menuu2841
{
	z-index: 75;
	width: 39px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 198px;
	background: transparent url("../../images/icono%20-%20men%c3%ba.png") no-repeat left top;
	background-size: cover;
}

#u2842
{
	width: 39px;
	background-color: transparent;
	position: relative;
}

#u2843
{
	width: 39px;
	min-height: 34px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u2843.MuseMenuActive
{
	width: 39px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/icono%20-%20men%c3%ba.png") no-repeat left top;
	background-size: contain;
}

#u2844-4
{
	width: 39px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u2843:hover #u2844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2843:active #u2844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2843.MuseMenuActive #u2844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2843:hover #u2844-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2843:active #u2844-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2844-2
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2847
{
	width: 120px;
	background-color: transparent;
	left: 39px;
}

#u2852
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2854
{
	height: 21px;
	width: 114px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
	background: url("../../images/u2854.png") no-repeat 0px 0px;
}

#u2852.MuseMenuActive #u2854
{
	background: url("../../images/u2854-a.png") no-repeat 0px 0px;
}

#u2873
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2866
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u2866.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #00A99D;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2848,#u2849,#u2870,#u2863,#u2856
{
	width: 120px;
	background-color: transparent;
	position: relative;
}

#u2859
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2852:hover,#u2873:hover,#u2859:hover
{
	background-color: #C1272D;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2874-4,#u2867-4,#u2862-4
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u2693-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	margin-left: 21px;
	margin-top: 13px;
	position: relative;
}

#u2694
{
	z-index: 15;
	width: 102px;
	height: 2px;
	background-color: #C1272D;
	margin-left: 5px;
	margin-top: 1px;
	position: relative;
}

#slideshowu2695
{
	z-index: 16;
	width: 0.01px;
	height: 294px;
	margin-left: 42px;
	margin-top: 99px;
	position: relative;
}

#u2696
{
	position: absolute;
	width: 307px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 61px;
}

#u2696popup
{
	z-index: 17;
}

#u2699
{
	z-index: 18;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2719
{
	z-index: 20;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u2697
{
	z-index: 22;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 158px;
}

#u2707
{
	z-index: 24;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 237px;
}

#u2699:hover,#u2719:hover,#u2697:hover,#u2707:hover
{
	width: 69px;
	height: 71px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2713
{
	z-index: 26;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#u2717
{
	z-index: 28;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 79px;
}

#u2717_img
{
	margin-top: -9px;
	margin-bottom: -8px;
}

#u2703
{
	z-index: 30;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 158px;
}

#u2715
{
	z-index: 32;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 237px;
}

#u2713:hover,#u2717:hover,#u2703:hover,#u2715:hover
{
	width: 69px;
	height: 71px;
	min-height: 0px;
	margin: 81px -10000px 0px 0px;
}

#u2711
{
	z-index: 34;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#u2717_clip,#u2711_clip
{
	overflow: hidden;
	width: 69px;
	height: 71px;
}

#u2711_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u2705
{
	z-index: 36;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 79px;
}

#u2701
{
	z-index: 38;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 158px;
}

#u2709
{
	z-index: 40;
	width: 69px;
	height: 71px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 237px;
}

#u2711:hover,#u2705:hover,#u2701:hover,#u2709:hover
{
	width: 69px;
	height: 71px;
	min-height: 0px;
	margin: 162px -10000px 0px 0px;
}

#u2724
{
	position: absolute;
	width: 321px;
	height: 485px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -85px;
	left: -14px;
	-pie-background: rgba(0,0,0,0.9);
}

#u2724popup
{
	z-index: 42;
}

#u2737
{
	z-index: 43;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2737_img
{
	padding: 25px 14px 24px 13px;
}

#u2741
{
	z-index: 45;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2741_img
{
	padding: 23px 12px 23px 13px;
}

#u2725
{
	z-index: 47;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2725_img
{
	padding-top: 119px;
	padding-bottom: 119px;
}

#u2735
{
	z-index: 49;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2735_clip
{
	overflow: hidden;
	width: 277px;
	height: 423px;
}

#u2735_img
{
	margin: 118px -3px 117px -2px;
}

#u2727
{
	z-index: 51;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2727_img
{
	padding-left: 1px;
	padding-top: 120px;
	padding-bottom: 119px;
}

#u2731
{
	z-index: 53;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2731_img
{
	padding: 43px 7px 42px 6px;
}

#u2729
{
	z-index: 55;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2729_img
{
	padding: 17px 10px 17px 11px;
}

#u2745
{
	z-index: 57;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2745_img
{
	padding: 45px 10px;
}

#u2739
{
	z-index: 59;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2739_img
{
	padding-top: 94px;
	padding-bottom: 94px;
}

#u2747
{
	z-index: 61;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2747_img
{
	padding: 43px 29px 43px 30px;
}

#u2743
{
	z-index: 63;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2743_img
{
	padding: 32px 16px 31px;
}

#u2733
{
	z-index: 65;
	width: 277px;
	height: 423px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2733_img
{
	padding: 37px 15px 36px 16px;
}

#u2721-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 356px;
	left: -14px;
}

#u2721-4popup
{
	z-index: 67;
}

#u2763-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 356px;
	left: 277px;
}

#u2763-4popup
{
	z-index: 71;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u2503
{
	z-index: 4;
	min-height: 29px;
	padding-bottom: 5px;
}

#u2504-6
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 7px;
	left: 119px;
}

#u2503-bw
{
	z-index: 4;
	min-height: 29px;
	margin-top: 119px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

