#widgetu2000.fld-err-st #u2002
{
	background: url("../../images/u2002-ferr.png") no-repeat 0px 0px;
}

#widgetu1989.fld-err-st #u1990
{
	background: url("../../images/u1990-ferr.png") no-repeat 0px 0px;
}

#widgetu1993.fld-err-st #u1996
{
	background: url("../../images/u1996-ferr.png") no-repeat 0px 0px;
}

.version.contactame /* version checker */
{
	color: #0000E3;
	background-color: #A5ACDD;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 994.9528455284552px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 29px;
	padding-bottom: 0px;
}

#pu1737
{
	width: 0.01px;
	margin-left: 315px;
}

#u1737
{
	z-index: 2;
	width: 138px;
	margin-right: -10000px;
}

#menuu2005
{
	z-index: 70;
	width: 39px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 250px;
	background: transparent url("../../images/icono%20-%20men%c3%ba.png") no-repeat left top;
	background-size: cover;
}

#u2006
{
	width: 39px;
	background-color: transparent;
	position: relative;
}

#u2007
{
	width: 39px;
	min-height: 34px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u2007.MuseMenuActive
{
	width: 39px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/icono%20-%20men%c3%ba.png") no-repeat left top;
	background-size: contain;
}

#u2010-4
{
	width: 39px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u2007:hover #u2010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2007:active #u2010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2007.MuseMenuActive #u2010-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2007:hover #u2010-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2007:active #u2010-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2011
{
	width: 120px;
	background-color: transparent;
	left: 39px;
}

#u2014
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2015
{
	height: 21px;
	width: 114px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
	background: url("../../images/u2015.png") no-repeat 0px 0px;
}

#u2014.MuseMenuActive #u2015
{
	background: url("../../images/u2015-a.png") no-repeat 0px 0px;
}

#u2028
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2023
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2014:hover,#u2028:hover,#u2023:hover
{
	background-color: #C1272D;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2012,#u2013,#u2027,#u2020,#u2034
{
	width: 120px;
	background-color: transparent;
	position: relative;
}

#u2035
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u2035.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #00A99D;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2031-4,#u2025-4,#u2036-4
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1986-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	margin-left: 77px;
	margin-top: 26px;
	position: relative;
}

#u1987
{
	z-index: 15;
	width: 117px;
	height: 2px;
	background-color: #C1272D;
	margin-left: 72px;
	margin-top: 5px;
	position: relative;
}

#widgetu1988
{
	z-index: 16;
	width: 0.01px;
	height: 422px;
	margin-left: 136px;
	margin-top: 24px;
	position: relative;
}

#widgetu2000
{
	z-index: 17;
	width: 497px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu2000.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 497px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2002
{
	z-index: 19;
	height: 20px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u2002.png") no-repeat 0px 0px;
}

#u2001-4
{
	z-index: 21;
	width: 483px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu2000.non-empty-st #u2001-4
{
	background-color: #FFFFFF;
}

#widgetu2000:hover #u2001-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 483px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2000.focus-st #u2001-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 483px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2000.non-empty-st #u2001-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2000:hover #u2001-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2000.focus-st #u2001-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1989
{
	z-index: 25;
	width: 497px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#widgetu1989.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 497px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1990
{
	z-index: 27;
	height: 20px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../../images/u1990.png") no-repeat 0px 0px;
}

#u1992-4
{
	z-index: 29;
	width: 483px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1989.non-empty-st #u1992-4
{
	background-color: #FFFFFF;
}

#widgetu1989:hover #u1992-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 483px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1989.focus-st #u1992-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 483px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2000.fld-err-st #u2001-4,#widgetu1989.fld-err-st #u1992-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 483px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1989.non-empty-st #u1992-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1989:hover #u1992-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1989.focus-st #u1992-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2000_input,#widgetu2000_prompt,#widgetu1989_input,#widgetu1989_prompt
{
	width: 483px;
	min-height: 14px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u1999-4
{
	z-index: 33;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: 148px;
}

#widgetu1988.frm-sub-st #u1999-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1997-4
{
	z-index: 37;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: 148px;
}

#widgetu1988.frm-subm-err-st #u1997-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2004-4
{
	z-index: 41;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: 148px;
}

#widgetu1988.frm-sub-st #u1999-4,#widgetu1988.frm-subm-err-st #u1997-4,#widgetu1988.frm-subm-ok-st #u2004-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1988.frm-subm-ok-st #u2004-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1998-17
{
	z-index: 45;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	left: 183px;
	background: url("../../images/u1998-17.png") no-repeat 0px 0px;
}

#u1998-17:hover
{
	background: url("../../images/u1998-17-r.png") no-repeat 0px 0px;
}

#u1998-17:active
{
	background: url("../../images/u1998-17-m.png") no-repeat 0px 0px;
}

#widgetu1988.frm-sub-st #u1998-17
{
	background: url("../../images/u1998-17-fs.png") no-repeat 0px 0px;
}

#widgetu1993
{
	z-index: 62;
	width: 497px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
}

#widgetu1993.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 497px;
	height: 210px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u1996
{
	z-index: 64;
	height: 20px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../../images/u1996.png") no-repeat 0px 0px;
}

#u1995-4
{
	z-index: 66;
	width: 483px;
	min-height: 177px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1993.non-empty-st #u1995-4
{
	background-color: #FFFFFF;
}

#widgetu1993:hover #u1995-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 177px;
	width: 483px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1993.focus-st #u1995-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 177px;
	width: 483px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1993.fld-err-st #u1995-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 177px;
	width: 483px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1993.non-empty-st #u1995-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1993:hover #u1995-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1993.focus-st #u1995-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2000.fld-err-st #u2001-4 *,#widgetu1989.fld-err-st #u1992-4 *,#widgetu1993.fld-err-st #u1995-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1993_input,#widgetu1993_prompt
{
	width: 483px;
	min-height: 177px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu2000.focus-st #widgetu2000_prompt,#widgetu1989.focus-st #widgetu1989_prompt,#widgetu1993.focus-st #widgetu1993_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2000:hover #widgetu2000_input,#widgetu2000.focus-st #widgetu2000_input,#widgetu2000.fld-err-st #widgetu2000_input,#widgetu2000:hover #widgetu2000_prompt,#widgetu2000.fld-err-st #widgetu2000_prompt,#widgetu1989:hover #widgetu1989_input,#widgetu1989.focus-st #widgetu1989_input,#widgetu1989.fld-err-st #widgetu1989_input,#widgetu1989:hover #widgetu1989_prompt,#widgetu1989.fld-err-st #widgetu1989_prompt,#widgetu1993:hover #widgetu1993_input,#widgetu1993.focus-st #widgetu1993_input,#widgetu1993.fld-err-st #widgetu1993_input,#widgetu1993:hover #widgetu1993_prompt,#widgetu1993.fld-err-st #widgetu1993_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u2010-2,#widgetu2000.non-empty-st #widgetu2000_prompt,#widgetu1989.non-empty-st #widgetu1989_prompt,#widgetu1993.non-empty-st #widgetu1993_prompt
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2041
{
	z-index: 102;
	width: 438px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 165px;
	margin-top: 85px;
	position: relative;
}

#pu2045
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
}

#u2045
{
	z-index: 107;
	width: 34px;
	background-color: transparent;
	position: relative;
}

#u2047
{
	z-index: 133;
	width: 34px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#pu2044-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 46px;
}

#u2044-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	margin-left: 111px;
	position: relative;
}

#u2051-4
{
	z-index: 109;
	display: block;
	vertical-align: top;
	margin-top: 32px;
	position: relative;
}

#u2056-4
{
	z-index: 129;
	display: block;
	vertical-align: top;
	margin-top: 52px;
	position: relative;
}

#u2058-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-top: 67px;
	position: relative;
}

#pu2052
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 316px;
}

#u2052
{
	z-index: 135;
	width: 34px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2049
{
	z-index: 137;
	width: 37px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 41px;
	position: relative;
}

#u2042
{
	z-index: 139;
	width: 38px;
	background-color: transparent;
	margin-top: 55px;
	position: relative;
}

#pu2055-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 58px -10000px -1px 371px;
}

#u2055-4
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2054-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	margin-top: 52px;
	position: relative;
}

#u2057-4
{
	z-index: 125;
	display: block;
	vertical-align: top;
	margin-top: 66px;
	position: relative;
}

#u1739
{
	z-index: 4;
	min-height: 66px;
	padding-bottom: 36px;
}

#u1740-6
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 32px;
	left: 260px;
}

#u1739-bw
{
	z-index: 4;
	min-height: 66px;
	margin-top: 5px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

