.version.habilidades /* version checker */
{
	color: #00000C;
	background-color: #1235C6;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 994.9528455284552px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 29px;
	padding-bottom: 0px;
}

#pu1737
{
	width: 0.01px;
	margin-left: 315px;
}

#u1737
{
	z-index: 2;
	width: 138px;
	margin-right: -10000px;
}

#menuu2064
{
	z-index: 11;
	width: 39px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 250px;
	background: transparent url("../../images/icono%20-%20men%c3%ba.png") no-repeat left top;
	background-size: cover;
}

#u2065
{
	width: 39px;
	background-color: transparent;
	position: relative;
}

#u2066
{
	width: 39px;
	min-height: 34px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u2066.MuseMenuActive
{
	width: 39px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/icono%20-%20men%c3%ba.png") no-repeat left top;
	background-size: contain;
}

#u2068-4
{
	width: 39px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u2066:hover #u2068-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2066:active #u2068-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2066.MuseMenuActive #u2068-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u2066:hover #u2068-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2066:active #u2068-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2068-2
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u2070
{
	width: 120px;
	background-color: transparent;
	left: 39px;
}

#u2096
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2099
{
	height: 21px;
	width: 114px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
	background: url("../../images/u2099.png") no-repeat 0px 0px;
}

#u2096.MuseMenuActive #u2099
{
	background: url("../../images/u2099-a.png") no-repeat 0px 0px;
}

#u2075
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2087
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2071,#u2093,#u2072,#u2086,#u2079
{
	width: 120px;
	background-color: transparent;
	position: relative;
}

#u2080
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2096:hover,#u2075:hover,#u2087:hover,#u2080:hover
{
	background-color: #C1272D;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2078-4,#u2089-4,#u2082-4
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2123-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	margin-left: 77px;
	margin-top: 26px;
	position: relative;
}

#u2124
{
	z-index: 86;
	width: 117px;
	height: 2px;
	background-color: #C1272D;
	margin-left: 72px;
	margin-top: 5px;
	position: relative;
}

#u2125-17
{
	z-index: 87;
	display: block;
	vertical-align: top;
	margin-left: 120px;
	margin-top: 71px;
	position: relative;
}

#u2126-4
{
	z-index: 104;
	display: block;
	vertical-align: top;
	margin-left: 252px;
	margin-top: 40px;
	position: relative;
}

#u2127
{
	z-index: 108;
	width: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 104px;
	margin-top: 12px;
	position: relative;
}

#u2134
{
	z-index: 109;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2132
{
	z-index: 111;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u2130
{
	z-index: 113;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u2136
{
	z-index: 115;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#u2128
{
	z-index: 117;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#u2100
{
	z-index: 43;
	width: 438px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 165px;
	margin-top: 48px;
	position: relative;
}

#pu2114
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
}

#u2114
{
	z-index: 48;
	width: 34px;
	background-color: transparent;
	position: relative;
}

#u2104
{
	z-index: 74;
	width: 34px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#pu2101-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 46px;
}

#u2101-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 111px;
	position: relative;
}

#u2102-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	margin-top: 32px;
	position: relative;
}

#u2116-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-top: 52px;
	position: relative;
}

#u2112-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	margin-top: 67px;
	position: relative;
}

#pu2106
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 316px;
}

#u2106
{
	z-index: 76;
	width: 34px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2108
{
	z-index: 78;
	width: 37px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 41px;
	position: relative;
}

#u2110
{
	z-index: 80;
	width: 38px;
	background-color: transparent;
	margin-top: 55px;
	position: relative;
}

#pu2113-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 58px -10000px -1px 371px;
}

#u2113-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
}

#u2103-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-top: 52px;
	position: relative;
}

#u2117-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	margin-top: 66px;
	position: relative;
}

#u1739
{
	z-index: 4;
	min-height: 66px;
	padding-bottom: 36px;
}

#u1740-6
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 32px;
	left: 260px;
}

#u1739-bw
{
	z-index: 4;
	min-height: 66px;
	margin-top: 5px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

