.version.portafolio /* version checker */
{
	color: #00001C;
	background-color: #E03D49;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 994.9528455284552px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 29px;
	padding-bottom: 0px;
}

#pu1737
{
	width: 0.01px;
	margin-left: 315px;
}

#u1737
{
	z-index: 2;
	width: 138px;
	margin-right: -10000px;
}

#menuu1844
{
	z-index: 50;
	width: 39px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 250px;
	background: transparent url("../../images/icono%20-%20men%c3%ba.png") no-repeat left top;
	background-size: cover;
}

#u1845
{
	width: 39px;
	background-color: transparent;
	position: relative;
}

#u1846
{
	width: 39px;
	min-height: 34px;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u1846.MuseMenuActive
{
	width: 39px;
	min-height: 34px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/icono%20-%20men%c3%ba.png") no-repeat left top;
	background-size: contain;
}

#u1847-4
{
	width: 39px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u1846:hover #u1847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u1846:active #u1847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u1846.MuseMenuActive #u1847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u1846:hover #u1847-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u1846:active #u1847-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u1847-2
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u1850
{
	width: 120px;
	background-color: transparent;
	left: 39px;
}

#u1862
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1865
{
	height: 21px;
	width: 114px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
	background: url("../../images/u1865.png") no-repeat 0px 0px;
}

#u1862.MuseMenuActive #u1865
{
	background: url("../../images/u1865-a.png") no-repeat 0px 0px;
}

#u1853
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1874
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u1874.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #00A99D;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1851,#u1859,#u1852,#u1873,#u1866
{
	width: 120px;
	background-color: transparent;
	position: relative;
}

#u1867
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #00A99D;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1862:hover,#u1853:hover,#u1867:hover
{
	background-color: #C1272D;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1855-4,#u1875-4,#u1869-4
{
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1886-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	margin-left: 82px;
	margin-top: 26px;
	position: relative;
}

#u1887
{
	z-index: 86;
	width: 117px;
	height: 2px;
	background-color: #C1272D;
	margin-left: 72px;
	margin-top: 4px;
	position: relative;
}

#slideshowu1891
{
	z-index: 99;
	width: 0.01px;
	height: 454px;
	margin-left: 197px;
	margin-top: 26px;
	position: relative;
}

#u1905
{
	position: absolute;
	width: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 116px;
}

#u1905popup
{
	z-index: 100;
}

#u1912
{
	z-index: 101;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u1918
{
	z-index: 103;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u1928
{
	z-index: 105;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u1906
{
	z-index: 107;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u1912:hover,#u1918:hover,#u1928:hover,#u1906:hover
{
	width: 104px;
	height: 106px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1910
{
	z-index: 109;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 17px;
}

#u1926
{
	z-index: 111;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 131px;
}

#u1924
{
	z-index: 113;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 245px;
}

#u1908
{
	z-index: 115;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 359px;
}

#u1910:hover,#u1926:hover,#u1924:hover,#u1908:hover
{
	width: 104px;
	height: 106px;
	min-height: 0px;
	margin: 116px -10000px 0px 0px;
}

#u1920
{
	z-index: 117;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 17px;
}

#u1920_clip
{
	overflow: hidden;
	width: 104px;
	height: 106px;
}

#u1920_img
{
	margin-left: -10px;
	margin-right: -11px;
}

#u1922
{
	z-index: 119;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 131px;
}

#u1916
{
	z-index: 121;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 245px;
}

#u1914
{
	z-index: 123;
	width: 104px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 359px;
}

#u1920:hover,#u1922:hover,#u1916:hover,#u1914:hover
{
	width: 104px;
	height: 106px;
	min-height: 0px;
	margin: 232px -10000px 0px 0px;
}

#u1931
{
	position: absolute;
	width: 647px;
	height: 511px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: -19px;
	left: -148px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1931popup
{
	z-index: 125;
}

#u1938
{
	z-index: 126;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1938_img
{
	margin: -2px 150px -1px;
}

#u1932
{
	z-index: 128;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1954
{
	z-index: 130;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1950
{
	z-index: 132;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1950_img
{
	margin: -2px 151px -1px;
}

#u1934
{
	z-index: 134;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1932_img,#u1954_img,#u1934_img
{
	padding: 25px 2px;
}

#u1940
{
	z-index: 136;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1940_img
{
	margin: -2px 126px -1px 127px;
}

#u1952
{
	z-index: 138;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1952_img
{
	margin: -2px 125px -1px 124px;
}

#u1948
{
	z-index: 140;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1948_img
{
	padding: 45px 183px 44px;
}

#u1942
{
	z-index: 142;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1942_img
{
	padding: 70px 119px 69px;
}

#u1936
{
	z-index: 144;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1936_img
{
	margin: -2px 155px -1px;
}

#u1946
{
	z-index: 146;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1946_img
{
	padding: 44px 179px 45px;
}

#u1944
{
	z-index: 148;
	width: 603px;
	height: 449px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1938_clip,#u1950_clip,#u1940_clip,#u1952_clip,#u1936_clip,#u1944_clip
{
	overflow: hidden;
	width: 603px;
	height: 449px;
}

#u1944_img
{
	margin: -2px 142px -1px 143px;
}

#u1930-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 197px;
	left: -130px;
}

#u1930-4popup
{
	z-index: 150;
}

#u1961-4
{
	position: absolute;
	width: 30px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 197px;
	left: 435px;
}

#u1961-4popup
{
	z-index: 154;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u1888-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	margin-left: 97px;
	top: -454px;
	margin-bottom: -17px;
	position: relative;
}

#u1889-4
{
	z-index: 91;
	display: block;
	vertical-align: top;
	margin-left: 97px;
	top: -337px;
	margin-bottom: -17px;
	position: relative;
}

#u1890-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	margin-left: 97px;
	top: -220px;
	margin-bottom: -17px;
	position: relative;
}

#u1826
{
	z-index: 11;
	width: 438px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 165px;
	margin-top: 53px;
	position: relative;
}

#pu1839
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
}

#u1839
{
	z-index: 16;
	width: 34px;
	background-color: transparent;
	position: relative;
}

#u1827
{
	z-index: 42;
	width: 34px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#pu1837-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 46px;
}

#u1837-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-left: 120px;
	position: relative;
}

#u1838-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-top: 32px;
	position: relative;
}

#u1834-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	margin-top: 52px;
	position: relative;
}

#u1832-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-top: 67px;
	position: relative;
}

#pu1829
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 316px;
}

#u1829
{
	z-index: 44;
	width: 34px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u1842
{
	z-index: 46;
	width: 37px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 41px;
	position: relative;
}

#u1835
{
	z-index: 48;
	width: 38px;
	background-color: transparent;
	margin-top: 55px;
	position: relative;
}

#pu1831-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 58px -10000px -1px 371px;
}

#u1831-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1833-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-top: 52px;
	position: relative;
}

#u1841-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-top: 66px;
	position: relative;
}

#u1739
{
	z-index: 4;
	min-height: 66px;
	padding-bottom: 36px;
}

#u1740-6
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 32px;
	left: 260px;
}

#u1739-bw
{
	z-index: 4;
	min-height: 66px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

